* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    font-weight: 600;
    cursor: url('../assets/cursor.png'), auto;
}

html, body {
    height: 100%;
}

html {
    background-color: rgb(0,0,0);
}

body {
    padding: 5vh;
    display: flex;
    flex-direction: column;
}

#back-arrow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 150px;
    height: auto;
}
#back-arrow:hover {
    transform: scale(1.75);
    transition: all 0.5s ease-in-out;
}

#title {
    text-align: center;
    font-weight: 700;
    display: inline-block;
    -webkit-transform:scale(2.5,1); /* Safari and Chrome */
    transform:scale(1,3); /* W3C */
    font-size: 2.5em;
    letter-spacing: -0.25vh;
    color: white;
    margin-bottom: 5vh;
    top: 0;
    right: 50%;
}

#profile-picture {
    width: 50vw;
}

.description {
    color: white;
    font-family: Roboto;
    font-size: 4vh;
    line-height: 7vh;
    text-align: justify;
    font-weight: 400;
    -webkit-transform:scale(2.5,1); /* Safari and Chrome */
    transform:scale(1,3); /* W3C */    
}
#tag{
    position: fixed;
    right:2px;
    bottom:2px;
    color: white;
    font-weight: 100;
    font-size: 2vh;
}
