* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    font-weight: 600;
    cursor: url('../assets/cursor.png'), auto;
}

html, body {
    height: 100%;
}

html {
    background-color: rgb(0,0,0);
}

body {
    padding: 5vh;
    display: flex;
    flex-direction: column;
}

#back-arrow{
    height: 3vh;
    width: 3vh;
    margin-bottom: 5vh;
}
