* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    font-weight: 600;
    cursor: url('../assets/cursor.png'), auto;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    background-color: rgb(4,56,39);
}

body {
    overflow-x: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#name {
    text-align: center;
    font-weight: 600;
    display: inline-block;
    -webkit-transform:scale(1,3); /* Safari and Chrome */
    transform:scale(1,3); /* W3C */
    font-size: 1em;
    letter-spacing: -0.25vh;
    color: white;
}

#link-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.link {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 0.5em;
}

.link:hover {
    opacity: 40%;
    transition: all 0.5s ease-in-out;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #name{
        font-size: 1.5em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #name{
        font-size: 2em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #name{
        font-size: 3em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 2em;
    }
}
