* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    font-weight: 600;
    cursor: url('../assets/cursor.png'), auto;
}

.link {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Playfair;
    font-size: 0.5em;
}

.link:hover {
    opacity: 40%;
    transition: all 0.5s ease-in-out;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: rgb(4, 90, 61);
}
button:hover {
    opacity: 40%;
    transition: all 0.5s ease-in-out;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #name{
        font-size: 1.5em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #name{
        font-size: 2em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #name{
        font-size: 3em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 2em;
    }
}
